Iffa Amalia Sabrina
<br>
Data Science (Sanbercode) - Tugas hari 1

<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
#print Hello World Python
print("Hello World Python")

Hello World Python

Expected Output :

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

- add = a + b
- substract = a - b
- multiple a * b
- divide = a / b

In [ ]:
#addition statement
add=10+5
#subraction statement
substract=10-5
#multiplication statement
multiple=10*5
#division statement
divide=10/5
print(add, subsract, multiple, divide)

15 5 50 2.0

In [ ]:
a=10
b=5
#addition statement
plus=a+b
#substraction statement
minus=a-b
#multiplication statement
multiple=a*b
#division statement
divide=a/b
print(add, substract, multiple, divide)

15 5 50 2.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

**<h4>Numeric Data Types<h4>**
<img src="https://itsengg.edu.in/python%20pic%202.PNG">

In [ ]:
a=7.5
b=2.5
div_int=a/b
print(div_int)

3.0

In [ ]:
a=8.5
b=2.5
div_float=a/b
print(div_float)

3.4

In [ ]:
a=15
b=4.5

#integer division of a by b
div_int=a//b
print(div_int)

#float division of a by b
div_float=a/b
print(div_float)

3.0
3.3333333333333335

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lastname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [ ]:
firstname="Iffa Amalia"
lastname="Sabrina"
print(f"Hello sanbercode, saya {firstname} {lastname}! saya siap belajar python data science dasar")

Hello sanbercode, saya Iffa Amalia Sabrina! saya siap belajar python data science dasar

Expected Output :

Hello sanbercode, saya Afrida Hafizhatul Ulum! saya siap belajar python data science dasar.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
usia=20
kata='usiaku: '
print(kata+str(usia)+' tahun')

usiaku: 20 tahun

Expected Output : (sesuai usia masing-masing)

usiaku: 28 tahun