<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [ ]:
# Membuat dataframes dari dictionary
import pandas as pd
data_dict={
    "Nama":["Alex", "Beni", "Cici"],
    "Usia":[20, 21, 22],
    "Kota":["Jakarta", "Yogyakarta", "Surabaya"]
}

df=pd.DataFrame(data_dict)

print(df)

   Nama  Usia        Kota
0  Alex    20     Jakarta
1  Beni    21  Yogyakarta
2  Cici    22    Surabaya

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [ ]:
# Membaca data dan memasukannya kedalam suatu variabel
from google.colab import drive
drive.mount('/content/gdrive')
data_df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/diamonds.csv')
print(data_df.head())

Mounted at /content/gdrive
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab: <br>
1. Perbedaan Series dengan List dan Dictionary.<br>
<table style="height:auto, weight=50px">
<tr>
<th>Fitur</th>
<th>List</th>
<th>Dictionary</th>
<th>Series</th>
</tr>
<tr>
<td>Jenis Data</td>
<td>Koleksi pasangan nilai yang diindeks</td>
<td>Koleksi pasangan kunci-nilai</td>
<td>Koleksi pasangan nilai yang diindeks</td>
</tr>
<tr>
<td>Akses</td>
<td>Elemen diakses dengan indeks numerik</td>
<td>Elemen diakses dengan menggunakan nilai kunci</td>
<td>Elemen diakses dengan indeks numerik</td>
</tr>
<tr>
<td>Urutan</td>
<td>Urutan elemen dipertahankan</td>
<td>Tidak menjamin mempertahankan urutan</td>
<td>Urutan elemen dipertahankan</td>
</tr>
<tr>
<td>Mutabilitas</td>
<td>Mutable</td>
<td>Mutable, namun kunci tidak boleh duplikat</td>
<td>Mutable</td>
</tr>
<tr>
<td>Pengindeksan</td>
<td>Indeks dimulai dari nol dan berjenis bilangan bulat</td>
<td>Kunci dapat berupa tipe data apa pun</td>
<td>Indeks dimulai dari nol dan berjenis bilangan bulat</td>
</tr>
</table>
2. Perbedaan antara DataFrame dan Series.
<table style="height:auto, weight=50px">
<tr>
<th>Fitur</th>
<th>DataFrame</th>
<th>Series</th>
</tr>
<tr>
<td>Dimensi</td>
<td>DataFrame dengan satu kolom adalah tabel dua dimensi dengan satu kolom</td>
<td>Series adalah array satu dimensi dari data</td>
</tr>
<tr>
<td>Pengaturan Data</td>
<td>Ditentukan oleh label kolom</td>
<td>Didasarkan pada label indeks</td>
</tr>
<tr>
<td>Pengindeksan</td>
<td>Memiliki indeks yang ditentukan</td>
<td>Memiliki indeks opsional</td>
</tr>
<tr>
<td>Kasus Penggunaan</td>
<td>Gunakan Seri ketika Anda hanya memiliki satu kolom data dan tidak memerlukan fitur tambahan dari DataFrame.</td>
<td>Gunakan DataFrame dengan satu kolom ketika Anda membutuhkan fitur tambahan dari DataFrame, seperti penyaringan, penggabungan, dan penggabungan.</td>
</tr>
</table>
Secara ringkas, sebuah Seri adalah objek mirip array satu dimensi yang dapat menyimpan data dari jenis apa pun, sementara DataFrame dengan satu kolom adalah tabel dua dimensi dengan satu kolom.

In [ ]:
# code here
kota = ["Jakarta", "Surabaya", "Bandung", "Medan", "Makassar"]
suhu = [27, 27, 23, 27, 26]

seri_suhu=pd.Series(data=suhu, index=kota)

print(seri_suhu)

Jakarta     27
Surabaya    27
Bandung     23
Medan       27
Makassar    26
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [ ]:
# code here
first_price = data_df['price'].iloc[0]
print("Baris pertama dari column price:", first_price)

last_color = data_df['color'].iloc[-1]
print("Baris terakhir dari column color:", last_color)

Baris pertama dari column price: 326
Baris terakhir dari column color: D

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab:<br>
Deskriptis statistik adalah sekumpulan ukuran numerik yang merangkum dan menjelaskan karakteristik dari sebuah himpunan data. Mereka memberikan cara yang ringkas dan mudah dikelola untuk memahami fitur dasar dari data, termasuk kecenderungan pusat, dispersi, dan distribusi frekuensi. Statistik deskriptif digunakan dalam berbagai bidang, termasuk bisnis, kedokteran, dan ilmu sosial, untuk memahami dan mengkomunikasikan fitur-fitur kunci dari data.<br>
Ada dua kategori utama statistik deskriptif: univariat dan bivariat. Analisis univariat berfokus pada distribusi variabel tunggal, sedangkan analisis bivariat memeriksa hubungan antara dua variabel. Ukuran-ukuran umum dari kecenderungan pusat meliputi rata-rata (mean), median, dan modus, sementara ukuran-ukuran dari variabilitas meliputi deviasi standar, varians, rentang, kurtosis, dan skewness.<br>
Statistik deskriptif tidak dikembangkan berdasarkan teori probabilitas dan tidak digunakan untuk membuat inferensi tentang populasi, tidak seperti statistik inferensial. Sebaliknya, mereka digunakan untuk merangkum dan menjelaskan data itu sendiri, memberikan dasar untuk analisis dan interpretasi lebih lanjut.

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [ ]:
# code here
mean_price = data_df['price'].mean()
print(mean_price)

std_depth = data_df['depth'].std()
print(std_depth)

max_carat = data_df['carat'].max()
print(max_carat)

3932.799721913237
1.432621318833661
5.01

Jawab: